mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

mat-card {
  padding-left: 2rem;
  padding-right: 2rem;
}

.container {
  width: 80%;
  margin: auto;
  margin-top: 2rem;
}

#login-button {
  margin-top: 1em;
  margin-bottom: 1em;
}
