mat-spinner {
  margin: auto;
  margin-top: 3rem;
  color: #8fffc3;
}

.container {
  margin: 2rem;
  padding: 24px;
  color: #858585;
  border-radius: 4px;
  display: flex;
  @media (min-width: 100px) and (max-width: 500px) {
    flex-direction: column;
    padding: 0;
    text-align: center;
  }
}

.game-details {
  background-color: #1d1d1d;
  padding: 2em;
  width: 60%;
  border-radius: 4px;
  margin-right: 2rem;
  @media (min-width: 100px) and (max-width: 500px) {
    width: auto;
    margin: 0;
  }
}

.listing-content {
  width: 100%;
  margin-left: 1rem;
  @media (min-width: 100px) and (max-width: 500px) {
    width: auto;
    margin: 0;
  }
}

.listings {
  margin: auto;
}

.list-game-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  font-size: 21px;
  width: 9em;
  background-color: #8fffc3;
  color: #232323;
  align-items: center;
  margin-bottom: 2rem;
  @media (min-width: 100px) and (max-width: 500px) {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.game-cover {
  margin-bottom: 1rem;
  text-align: center;
}
