<div class="container">
  <div class="game-details">
    <mat-spinner color="accent" class="spinner" *ngIf="isLoading"></mat-spinner>
    <img class="game-cover" src="{{ game?.coverImage }}" alt="" />
    <h1>{{ game?.title }}</h1>
    <h2>{{ game?.gameConsole }}</h2>
    <h3>{{ game?.genres }}</h3>
    <p>{{ game?.description }}</p>
    <h3>{{ game?.rating | number: "1.0-0" }}</h3>
    <h3>{{ game?.releaseDate | date: "MMMM d, y" }}</h3>
  </div>
  <a
    *ngIf="userIsAuthenticated"
    (click)="toggle()"
    mat-raised-button
    class="list-game-button"
  >
    List game!
  </a>

  <div [@popOverState]="stateName" id="list-create-render" *ngIf="display">
    <app-listing-create [game]="game"></app-listing-create>
  </div>

  <div class="listings">
    <app-listings-container></app-listings-container>
  </div>
</div>
