.container {
  margin: auto;
  width: 90%;
  padding: 24px;
  color: #858585;
  border-radius: 4px;
}

.game-details {
  background-color: #1d1d1d;
  padding: 2em;
  border-radius: 4px;
  margin: auto;
}

.listings {
  margin: auto;
}

.list-game-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  font-size: 21px;
  width: 9em;
  margin-bottom: 24px;
  margin-top: 24px;
  background-color: #8fffc3;
  color: #232323;
  align-items: center;
}
