<mat-toolbar>
  <div class="content">
    <div class="home">
      <a routerLink="/"> Listings</a>
    </div>
    <div class="auth">
      <a
        *ngIf="!userIsAuthenticated"
        mat-button
        routerLink="/sign-up"
        routerLinkActive="mat-accent"
        >Sign up</a
      >
      <a
        *ngIf="!userIsAuthenticated"
        mat-button
        routerLink="/login"
        routerLinkActive="mat-accent"
        >Login</a
      >
      <button *ngIf="userIsAuthenticated" mat-button>Logout</button>
    </div>
  </div>
</mat-toolbar>
