<div class="games-container">
  <mat-tab-group #tabRef (selectedTabChange)="onConsoleSelect($event)">
    <mat-tab
      *ngFor="let console of gameConsoles"
      label="{{ console }}"
    ></mat-tab>
  </mat-tab-group>
  <mat-paginator
    [length]="totalGames"
    [pageSize]="gamesPerPage"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onChangedPage($event)"
    *ngIf="games.length > 0"
  ></mat-paginator>

  <mat-spinner color="accent" class="spinner" *ngIf="isLoading"></mat-spinner>
  <div class="grid-container" *ngIf="games.length > 0 && !isLoading">
    <app-game-card *ngFor="let game of games" [game]="game"> </app-game-card>
  </div>

  <h3 class="mat-body-1 info-text" *ngIf="games.length <= 0 && !isLoading">
    No games to display
  </h3>
</div>
