mat-spinner {
  margin: auto;
  margin-top: 8em;
  color: #8fffc3;
}

mat-paginator {
  margin-bottom: 2rem;
  margin-top: 2rem;
  border-radius: 8px;
}

mat-tab-group {
  position: sticky;
  top: 0;
  margin-bottom: 2rem;
  transition: 0.5s background-color ease;
  z-index: 1;
  opacity: 1;
}

.mat-tabs-opaque {
  background-color: #424242;
}

.games-container {
  padding: 2em;
}

.grid-container {
  margin: 0 auto;
  display: grid;
  grid-gap: 1.3em;
  @media (min-width: 100px) and (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
  }
  @media (min-width: 501px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: 1200px) {
    grid-template-columns: repeat(5, 1fr);
  }
  @media (min-width: 2000px) {
    grid-template-columns: repeat(7, 1fr);
  }
  @media (min-width: 2200px) {
    grid-template-columns: repeat(8, 1fr);
  }
}

.info-text {
  text-align: center;
  color: antiquewhite;
}

.consoles {
  display: flex;
  justify-content: space-around;
}
