<div class="games-container">
  <mat-tab-group
    id="tab-group"
    #tabRef
    (selectedTabChange)="onConsoleSelect($event)"
  >
    <mat-tab
      *ngFor="let console of gameConsoles"
      label="{{ console }}"
    ></mat-tab>
  </mat-tab-group>

  <div id="filter-options">
    <mat-form-field id="sort" appearance="fill">
      <mat-label>Sort games</mat-label>
      <mat-select [(value)]="sortBy" (selectionChange)="sortByChange(sortBy)">
        <mat-option *ngFor="let option of sortOptions" [value]="option">{{
          option.field
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-paginator
      [length]="totalGames"
      [pageSize]="gamesPerPage"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onChangedPage($event)"
    ></mat-paginator>
    <form #searchForm="ngForm">
      <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input
          name="search"
          ngModel
          #search="ngModel"
          (keyup)="searchGames(searchForm)"
          matInput
          value=""
        />
      </mat-form-field>
    </form>
  </div>

  <mat-spinner color="accent" class="spinner" *ngIf="isLoading"></mat-spinner>
  <div class="grid-container" *ngIf="games.length > 0 && !isLoading">
    <app-game-card *ngFor="let game of games" [game]="game"> </app-game-card>
  </div>

  <h3 class="mat-body-1 info-text" *ngIf="games.length <= 0 && !isLoading">
    No games to display
  </h3>
</div>
