<div class="container">
  <mat-card>
    <form [formGroup]="form" (submit)="onAddListing()">
      <div class="condition-select">
        <mat-form-field appearance="fill">
          <mat-label>Condition</mat-label>
          <mat-select [(value)]="selected" formControlName="condition">
            <mat-option value="brand-new">Brand new</mat-option>
            <mat-option value="like-new">Like new</mat-option>
            <mat-option value="good">Good</mat-option>
            <mat-option value="acceptable">Acceptable</mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('condition')?.invalid"
            >Please select a condition</mat-error
          >
        </mat-form-field>
      </div>
      <div>
        <button
          id="image-button"
          type="button"
          mat-stroked-button
          color="primary"
          (click)="filePicker.click()"
        >
          Pick Image
        </button>
        <input type="file" #filePicker (change)="onImagePicked($event)" />
      </div>
      <div
        class="image-preview"
        *ngIf="imagePreview && imagePreview !== '' && form.get('image')!.valid"
      >
        <img [src]="imagePreview" [alt]="form.value.title" />
      </div>
      <hr />
      <button
        id="create-button"
        mat-raised-button
        color="accent"
        class="create-listing-btn"
        type="submit"
      >
        Create Listing
      </button>
    </form>
  </mat-card>
</div>
