* {
  color: #858585;
}

form {
  display: flex;
  flex-direction: column;
}

mat-card {
  width: 30%;
  height: 130px;
  background-color: #1f1f1f;
  border-radius: 8px;
}

button {
  height: 40px;
  width: 75%;
  margin: auto;
  margin-top: 32px;
  background-color: #1f1f1f;
}

input {
  width: 90%;
}

.container {
  margin-bottom: 24px;
  border-radius: 8px;
}
