<div class="container">
  <mat-card>
    <form [formGroup]="form" (submit)="onAddListing()">
      <mat-form-field>
        <input
          matInput
          ngModel
          type="text"
          formControlName="title"
          placeholder="Listing Title"
        />
      </mat-form-field>
      <mat-error *ngIf="form.get('title')?.invalid"
        >Please enter a listing title</mat-error
      >
      <div>
        <button
          id="image-button"
          type="button"
          mat-stroked-button
          color="primary"
          (click)="filePicker.click()"
        >
          Pick Image
        </button>
        <input type="file" #filePicker (change)="onImagePicked($event)" />
      </div>
      <div class="image-preview" *ngIf="imagePreview">
        <img [src]="imagePreview" [alt]="form.value.title" />
      </div>
      <hr />
      <button
        id="create-button"
        mat-raised-button
        color="accent"
        class="create-listing-btn"
        type="submit"
      >
        Create Listing
      </button>
    </form>
  </mat-card>
</div>
