* {
  color: #858585;
}

form {
  display: flex;
  flex-direction: column;
}

mat-card {
  width: 40%;
  height: auto;
  padding: 24px;
  background-color: #1f1f1f;
  border-radius: 8px;
}

mat-form-field {
  width: 100%;
  padding: 0;
}

hr {
  margin: -24px;
  margin-top: 32px;
  margin-bottom: 24px;
  width: auto;
  border-color: #bb86fc;
  opacity: 0.7;
}

input {
  width: 90%;
}

input[type="file"] {
  visibility: hidden;
}

.container {
  margin-bottom: 24px;
  border-radius: 8px;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}

.condition-select {
  margin-top: 1rem;
  width: 100%;
}

#create-button {
  height: 40px;
  width: 100%;
  margin: auto;
  background-color: #8fffc3;
}

#image-button {
  height: 40px;
  width: 30%;
  margin: auto;
  margin-top: 32px;
}
