/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";

a {
  color: #333;
  text-decoration: none;
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
  & hover {
    background: #666;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: #121212;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.grey-snackbar {
  background-color: #1d1d1d;
  color: #bb86fc;
}
