.games-container {
  padding: 2em;
}

.grid-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 1em;
  @media screen and (max-width: 500px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 760px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
