.listing-card {
  background-color: #1d1d1d;
  color: #858585;
  border-radius: 8px;
  box-shadow: 0 1px 9px rgb(0 0 0 / 10%);
  padding-bottom: 1em;
  transition: all 0.2s ease;
  &:hover {
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 4px 8px 6px 1px rgba(0, 0, 0, 0.4);
    transform: rotateX(10deg) translate3D(0, -10px, 0) scale(1.03);
  }
}

.listing-title {
  color: #e0e0e0;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 27px;
}

.cover-image {
  width: 264px;
  margin: auto;
  border-radius: 8px 8px 0px 0px;
}

.listing-info {
  padding: 1em;
}

mat-icon {
  color: #f5c518;
}

.listing-user,
.status {
  display: flex;
  justify-content: space-between;
}
