<div class="container">
  <mat-card>
    <form (submit)="onAddListing(listForm)" #listForm="ngForm">
      <mat-form-field>
        <input
          matInput
          ngModel
          name="title"
          type="text"
          required
          #title="ngModel"
          placeholder="Listing Title"
        />
        <mat-error *ngIf="title.invalid">Title is required</mat-error>
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit">
        Create Listing
      </button>
    </form>
  </mat-card>
</div>
