* {
  color: #858585;
}

.container {
  padding: 15px;
}

mat-card {
  width: 20%;
  margin: auto;
  background-color: #1f1f1f;
}

mat-button {
  width: 80%;
  margin: auto;
  margin-top: 2em;
  background-color: #1f1f1f;
}

hr {
  margin-bottom: 20px;
  margin-top: 20px;
}
